

/* 1200px */

@media screen and (max-width: 1200px) {
  .grid_layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

.learn-chess .learn-levels {
 display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
}

/* 990px */
@media screen and (max-width: 990px) {
  .about_special .about_main {
    display: grid;
    grid-template-columns: 100% !important;
    grid-gap: 5px 5px !important;
  }
   .active .active_main {
    display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px 10px; 
}
.learn-chess .learn-levels {
 display: grid;
    grid-template-columns: 1fr 1fr ;
}

.grid_layout {
    display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px 10px;

}


.control .control-main .control-card h5 {
  font-size: 25px;
}
.control .control-main .control-card p {
  font-size: 15px;
}
footer .footer-main {
    display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px 10px;
}
}

/* 768px - destop */

@media screen and (max-width: 768px) {
  .header-main .center_header {
    margin-top: 50px;
  }

  .header-main .center_header .center__title span {
    font-size: 35px;
    margin-top: 20px;
  }

  .header-main .center_header .center__title h1 {
    font-size: 34px;
    color: #ffcc03;
    margin-top: 30px;
    line-height: 2;
  }

  .header-main .center_header .center__title .button_center {
    margin-top: 60px;
    margin-right: 8px;
    margin-bottom: 50px;
    padding: 10px 35px;
    font-size: 14px;
  }
  .active h3 {
 font-size: 20px;
}
.active .logo {
    width: 50px;
  height: 60px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.learn-chess .learn-levels {
    display: grid;
  grid-template-columns: 95%;
  grid-gap: 10px 10px;

}

.control .control-main {
    display: grid;
  grid-template-columns: 95%;
  grid-gap: 10px 10px;
  
}

  .active .active_main {
    display: grid;
  grid-template-columns: 95%;
  grid-gap: 10px 10px;
}
.grid_layout {
    display: grid;
  grid-template-columns: 95%;
  grid-gap: 10px 10px;

}

footer .footer-main {
   display: grid;
   grid-template-columns: 1fr 1fr;

}

@media screen and (max-width: 600px) {

   .active .active_main {
    display: grid;
  grid-template-columns: 100%;
}
.active h3 {
  font-size: 17px;
  font-weight: 900;

}
.active .logo {
 width: 44px !important;
height: 51px !important;
}
}

.learn-chess .learn-levels {
 display: grid;
    grid-template-columns: 1fr;

}




 footer .footer-main {
   display: grid;
   grid-template-columns: 1fr;
   text-align: center;

}
footer .copyright {
  font-size: 13px;
font-weight: 900
}
footer .copyright a {
  font-size: 13px;
font-weight: 900
}





  }



 /*  */

@media screen and (max-width: 392px) {

   .learn-chess .learn-levels {
    display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px;

}
.header-main .center_header .center__title span {
  font-size: 22px;
  font-weight: 700;


}

.header-main .center_header .center__title h1 {
  font-size: 22px;
  font-weight: 400;
}
  .header-main .center_header .center__title .button_center {

    padding: 8px 30px;
    font-size: 12px;
  }



}